{% extends 'base.html.twig' %}

{% block title %}List of Users{% endblock %}

{% block body %}

<div class="container">
    <h1>Add User</h1>
    {{ form_start(form, {'method': 'POST',attr: {'novalidate': 'novalidate'}}) }}
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.profile) }}
        {{ form_row(form.save) }}
    {{ form_end(form) }}
</div>

{% endblock %}