{% extends 'base.html.twig' %}

{% block title %}List of Users{% endblock %}

{% block body %}
<div class="container">
    <h1>All Users</h1>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('failed') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <table class="table table-striped" id="users_list">
        <thead>
            <tr>
                <th colspan="2">List of Users</th>
                <th><a href="{{ path('addUser') }}" class="btn btn-success">Add</a></th>
            </tr>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        {% if users %}
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a href="{{ path('editUser',{'id': user.id}) }}" class="btn btn-dark">Edit</a>
                    <a href="#" data-id="{{ user.id }}" class="btn btn-danger delete-user">Delete</a>
                </td>
            </tr>
            {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">No users to display</td>
        </tr>
        {% endif %}
    </table>
</div>
{% endblock %}

{% block javascripts %}
    <script src="/js/custom.js"></script>
{% endblock %}
